<div class="container">

  <div class="row" ng-init="listarIngressosAgenda()">
    <h2 class="titulo">Adicionar Ingressos ao Carrinho</h2>

    <div style="float: right;">
      <button type="submit" class="btn btn-default btn-cancelar" onclick="window.history.back()">Voltar</button>
      <button type="submit" class="btn btn-success" ui-sref="main.meuCarrinho({id: idCarrinho})">Ver Meu Carrinho</button>
    </div>
  </div>

  <form class="form-horizontal margem-formulario form-css" name="form" novalidate>

    <legend style="margin-top: 25px;">Escolha o Ingresso</legend>

    <div ng-repeat="list in listaIngresso | orderBy: '+list.status'">
      <div class="row">
        <div class="form-group">

          <label for="numero" class="col-sm-2 control-label">Número:</label>

          <div class="col-sm-2">
            <input type="text" class="form-control" id="numero" name="numero"
                   ng-model="list.numero" readonly>
          </div>

          <label for="tipo" class="col-sm-2 control-label">Tipo:</label>

          <div class="col-sm-2">

            <select ng-disabled="list.status == 'reservado'" class="form-control" id="tipo" ng-model="list.tipo" ng-change="valorIngresoMeiaOuInteria($index)">
              <option value="inteira">Inteira</option>
              <option value="meia">Meia</option>
            </select>
          </div>

          <label for="status" class="col-sm-2 control-label">Status:</label>

          <div class="col-sm-2">
            <input type="text" min="0" max="6" class="form-control" id="status" name="status"
                   ng-model="list.status" readonly>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="form-group">
          <label for="posicao_fileira" class="col-sm-2 control-label">Posição fileira:</label>

          <div class="col-sm-2">
            <input type="text" class="form-control" id="posicao_fileira" name="posicao_fileira"
                   ng-model="list.posicao_fileira" readonly>
          </div>

          <label for="posicao_coluna" class="col-sm-2 control-label">Posição coluna:</label>

          <div class="col-sm-2">
            <input type="text" class="form-control" id="posicao_coluna" name="posicao_coluna"
                   ng-model="list.posicao_coluna" readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">

          <label for="assento_preferencial" class="col-sm-2 control-label">Assento preferêncial:</label>

          <div class="col-sm-2">
            <input type="text" class="form-control" id="assento_preferencial" name="assento_preferencial"
                   ng-model="list.assento_preferencial" readonly>
          </div>

          <label for="valor" class="col-sm-2 control-label">Valor:</label>

          <div class="col-sm-2">
            <input type="text" class="form-control" id="valor" name="valor"  ng-model="list.valor" readonly>

          </div>

          <button ng-if="list.status == 'livre'" type="submit" class="btn btn-info" ng-click="salvarIngressoCarrinhoTh(list)"
                  style="float: right; margin-right: 15px;">
            Adicionar ao Carrinho
          </button>

        </div>
      </div>

      <br/>
      <hr>

      <br/>
      <br/>
    </div>

  </form>

</div>

<br/>
<br/>
<br/>
<br/>
