<div class="container">

  <div class="row" style="margin-bottom: 50px;" ng-init="listarEventoComAgenda()">
    <h2 class="titulo">Evento com a Agenda</h2>

    <div style="float: right;">
      <button type="submit" class="btn btn-default btn-cancelar" onclick="window.history.back()">Voltar</button>
      <button type="submit" class="btn btn-success" ui-sref="main.meuCarrinho({id: idCarrinho})">Ver Meu Carrinho
      </button>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" id="nomeBusca" name="nomeBusca" ng-model="nomeBusca"
               placeholder="Buscar"
               ng-model="search">
      </div>
    </div>
  </div>

  <br/>

  <h4 class="titulo" ng-show="listBusca.length > 0" style="color: #3c8dbc;"><strong>Informações do Evento</strong></h4>

  <div ng-repeat="list in listBusca | filter:nomeBusca" class="painel">
    <div class="botoes">
      <img ng-src="{{ list.imagem }}" alt="Evento Image" height="100" width="100">
    </div>

    <div class="area">
      <p class="destaque-nome">{{ list.nome | uppercase }}</p>

      <p>De {{ list.dataInicio | date:'dd/MM/yy' }} até {{ list.dataFinal | date:'dd/MM/yy' }}</p>

      <p>Categoria: {{ list.tipoCategoria }}</p>

      <p>Cidade: {{ list.endereco.cidade }} - {{ list.endereco.estado }}</p>
    </div>

    <div class="area">
      <p>Descrição: {{ list.descricao }} </p>

    </div>

  </div>

  <h4 class="titulo" ng-show="listAgenda.length > 0" style="color: #3c8dbc;"><strong>Agenda deste Evento</strong></h4>

  <div ng-repeat="agend in listAgenda | filter:nomeBusca" class="painel">
    <div class="area">
      <p class="destaque-nome">{{agend.titulo }}</p>

      <p>Dia: {{ agend.data | date:'dd/MM/yyyy' }}</p>

      <p>Hora início: {{ agend.horario_inicio | date:'HH:mm' }}</p>

      <p>Hora final: {{ agend.horario_final | date:'HH:mm' }}</p>
    </div>


    <div class="area" style="margin-top: 10px;">
      <p>Qtde disponíveis de ingressos: {{ agend.qtde }}</p>

      <p>Valores do ingresso: {{ agend.valor_ingresso }} (Inteira) {{ agend.valor_ingresso / 2 }} (Meia)</p>

      <p>Nº de fileiras: {{ agend.qtd_fileiras }}</p>

      <p>Nº de colunas: {{ agend.qtd_colunas }}</p>
    </div>

    <div class="botoes" align="center" style="margin-top: 50px;">
      <button type="button" ui-sref="main.carrinho({ idEvento: agend.evento_id, idAgenda: agend.id })"
              class="btn btn-warning" style="margin-bottom: 5px;">Comprar Ingressos
      </button>
    </div>

  </div>

</div>

<br/>
<br/>
<br/>
<br/>
