<div data-ng-init="listarEvento()">
  <h3>Meus Eventos</h3>

</div>

<table ng-show="listEvento.length > 0" class="table table-bordered table-striped">

  <tr ng-repeat="list in listEvento track by $index">

    <thead>
    <td>Nome</td>
    <td>Descrição</td>
    <td>Data de Inicio</td>
    <td>Data de Terminio</td>
    <td>Categoria</td>
    <td>Estado</td>
    <td>Cidade</td>
    <td>Actions</td>
    </thead>
    <tbody>
    <tr ng-repeat="list in listEvento track by $index">
      <td>{{list.nome}}</td>
      <td>{{list.descricao}}</td>
      <td>{{list.dataInicio}}</td>
      <td>{{list.dataFinal}}</td>
      <td>{{list.tipoCategoria}}</td>
      <td>{{list.estado}}</td>
      <td>{{list.cidade}}</td>
      <td>
        <button type="button" class="btn btn-default pull-right" ui-sref="cliente.vsualizarEvento({id: list.id })"> Visualizar Evento
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
    </tbody>

</table>
