<div class="container">

  <div class="row" style="margin-bottom: 50px;" ng-init="buscarCarrinho()">
    <h2 class="titulo">Meu Carrinho</h2>
    <button type="submit" class="btn btn-default btn-cancelar" onclick="window.history.back()" style="float: right;">
      Voltar
    </button>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" id="nomeBusca" name="nomeBusca" ng-model="nomeBusca"
               placeholder="Buscar"
               ng-model="search">
      </div>
    </div>
  </div>


  <br/>

  <h4 class="titulo" ng-show="listaCarrinho.length > 0" style="color: #3c8dbc;"><strong>Informações do Carrinho</strong>
  </h4>

  <div ng-repeat="list in listaCarrinho | filter:nomeBusca" class="painel">
    <div class="area">
      <p class="destaque-nome">Data da compra: {{ list.data_compra | date:'dd/MM/yy' }}</p>

      <p>Valor total: {{ list.valor_total }}</p>

      <p>Desconto: {{ list.desconto }}</p>

      <p>Status do Carrinho: {{ list.status }}</p>
    </div>

    <div class="botoes" style="float: right;">
      <button type="submit" class="btn btn-success" ng-click="finalizarCompra(list.id)">Finalizar Pedido</button>
    </div>

  </div>

  <h4 class="titulo" ng-show="listaBusca.length > 0" style="color: #3c8dbc;"><strong>Ingressos
    Escolhidos</strong></h4>

  <div ng-repeat="list in listaBusca | filter:nomeBusca" class="painel">
    <div class="area">
      <p class="destaque-nome" style="color: #7EB5D6;">Evento: {{ list.nome }} - Agenda: {{ list.titulo }}</p>

      <p class="destaque-nome">Nº do Ingresso: {{ list.numero }}</p>

      <p>Fileira: {{ list.posicao_fileira }} e Coluna: {{ list.posicao_coluna }}</p>

      <p>Tipo: {{ list.tipo }}</p>

      <p>Valor: {{ list.valor }}</p>

    </div>

    <div class="botoes" align="center" style="margin-top: 60px;">
      <button type="button" class="btn btn-danger"
              style="margin-bottom: 5px;">
        <span class="glyphicon glyphicon-remove" ng-click="removerIngressoCarrinho(list)" aria-hidden="true"></span>
      </button>
    </div>

  </div>



</div>

<br/>
<br/>
<br/>
<br/>
