<div class="container margem-formulario" ng-init="listarPessoa()">
  <h3 class="titulo">Lista de Clientes e Empresas</h3>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
      <input type="text" class="form-control" id="nomeBusca" name="nomeBusca" ng-model="nomeBusca" placeholder="Buscar"
             ng-model="search">
    </div>
  </div>

  <br/>
  <br/>

  <h4 class="titulo" ng-show="itens.length > 0" style="color: #3c8dbc;"><strong>Clientes</strong></h4>

  <div ng-repeat="item in itens | orderBy:'+nome' | filter:nomeBusca" class="painel">
    <div class="area">
      <p class="destaque-nome">{{ item.nome | uppercase }}</p>

      <p>CPF: {{ item.cpf }} </p>

      <p>E-mail: {{ item.email }}</p>

      <p>Portador de necessidades especiais: {{ item.eh_deficiente }}</p>
    </div>

    <div class="area" style="margin-top: 7px;">
      <p class="destaque">Endereço</p>

      <p>Rua: {{ item.endereco_id.rua }}, {{ item.endereco_id.numero }}</p>

      <p>Bairro: {{ item.endereco_id.bairro }}</p>

      <p>Cidade: {{ item.endereco_id.cidade }} - {{ item.endereco_id.estado }}</p>
    </div>

    <div class="botoes" align="center" style="margin-top: 18px;">
      <button type="button" class="btn btn-warning" style="margin-bottom: 5px;"
              ui-sref="main.manterPessoa({ id: item.id })">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
      <br/>
      <button type="button" ng-click="apagarPessoa(item)" class="btn btn-danger" style="margin-right: 3px; margin-bottom: 5px;">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <h4 class="titulo" ng-show="items.length > 0" style="color: #3c8dbc;"><strong>Empresas</strong></h4>

  <div ng-repeat="it in items | orderBy:'+razao_social' | filter:nomeBusca" class="painel">
    <div class="areaEmpresa">
      <p class="destaque-nome">{{ it.razao_social | uppercase }}</p>

      <p>CNPJ: {{ it.cnpj }}</p>

      <p>Responsável: {{ it.pessoa_id.nome }}</p>

      <p>Razão social: {{ it.razao_social }}</p>

      <p>Site: {{ it.site }}</p>

    </div>
  </div>

</div>
