<!-- Page Content -->
<div class="container" ng-init="listarTodosEventos()">

  <!-- Marketing Icons Section -->
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-12">
      <h1 class="page-header">
        <strong>CapivaraTickets | o melhor dos ingressos</strong>
      </h1>

      <div style="float: right;">
        <button type="submit" class="btn btn-success" ui-sref="main.meuCarrinho({id: idCarrinho})">Ver Meu Carrinho
        </button>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <br/>

  <div class="row" style="margin-left: 10px;">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" id="nomeBusca" name="nomeBusca" ng-model="nomeBusca"
               placeholder="Buscar"
               ng-model="search">
      </div>
    </div>
  </div>

  <hr>

  <h4 class="titulo" ng-show="listaEvento.length > 0" style="color: #3c8dbc;"><strong>Lista de Eventos</strong></h4>

  <div ng-repeat="list in listaEvento | orderBy: '+list.count_views' | filter:nomeBusca " class="painel"
       style="height: 145px !important;">
    <div class="area">
      <p class="destaque-nome">{{ list.nome | uppercase }}</p>

      <p>De {{ list.dataInicio | date:'dd/MM/yy' }} a {{ list.dataFinal | date:'dd/MM/yy' }}</p>

      <p>Categoria: {{ list.tipoCategoria }}</p>

      <p>Cidade: {{ list.endereco.cidade }} - {{ list.endereco.estado }}</p>
    </div>

    <div class="area" style="margin-top: 40px; font-size: 18px;">
      <span>Ranking: {{ list.count_views }}</span><br/>
    </div>

    <div class="botoes" align="center" style="margin-top: 40px;">
      <button type="button" class="btn btn-primary" ng-click="updateCountViews(list.id)"
              ui-sref="main.listaAgenda({id: list.id })" style="margin-bottom: 5px;">
        Detalhes
      </button>
    </div>
  </div>

</div>
<!-- /.container -->
