<div class="container">
  <form class="form-horizontal margem-formulario form-css" name="form" ng-submit="salvarPessoa()" novalidate>
    <h2 ng-if="!stateDadosPessoais">Cadastro de Pessoa</h2>
    <h2 ng-if="stateDadosPessoais">Meus dados</h2>

    <p><strong>Campos obrigatórios (<span class="campo-obrigatorio">*</span>)</strong></p>

    <legend style="margin-top: 25px;">Informações Pessoais</legend>
    <div class="row">
      <div class="form-group">

        <label for="nome" class="col-sm-2 control-label">Nome completo<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="nome" ng-model="pessoa.nome" placeholder="Nome" maxlength="60" required />
        </div>

        <label for="cpf" class="col-sm-2 control-label">CPF<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="cpf" ng-model="pessoa.cpf" ui-mask="999.999.999-99" ui-mask-placeholder required />
        </div>
      </div>
    </div>

    <legend style="margin-top: 25px;">Endereço</legend>
    <div class="row">
      <div class="form-group">
        <label for="rua" class="col-sm-2 control-label">Rua<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="rua" ng-model="rua" placeholder="Rua" maxlength="60" required />
        </div>

        <label for="complemento" class="col-sm-2 control-label">Complemento</label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="complemento" ng-model="complemento" maxlength="20" placeholder="Complemento"/>
        </div>
      </div>
    </div>

    <div class="row">
      <label for="bairro" class="col-sm-2 control-label">Bairro<span class="campo-obrigatorio">*</span></label>

      <div class="col-sm-2">
        <input type="text" class="form-control" id="bairro" ng-model="bairro" placeholder="Bairro" maxlength="60" required/>
      </div>

      <div class="form-group">
        <label for="numero" class="col-sm-1 control-label">Número<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-2">
          <input type="text" class="form-control" id="numero" ng-model="numero" placeholder="Número" maxlength="9" required/>
        </div>

        <label for="cep" class="col-sm-1 control-label">CEP<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-2">
          <input type="text" class="form-control" id="cep" ng-model="cep" ui-mask="99.999-999" ui-mask-placeholder
                 required/>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="cidade" class="col-sm-2 control-label">Cidade<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="cidade" ng-model="cidade" placeholder="Cidade" maxlength="60" required/>
        </div>

        <label for="estado" class="col-sm-2 control-label">Estado<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="estado" ng-model="estado" placeholder="Estado" maxlength="60" required/>
        </div>
      </div>
    </div>

    <legend style="margin-top: 25px;">Informações Gerais</legend>

    <div class="row">
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">E-mail<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="email" class="form-control" id="email" ng-model="pessoa.email" placeholder="E-mail" maxlength="80" required/>
        </div>

        <label for="telefone" class="col-sm-2 control-label">Telefone</label>

        <div class="col-sm-4">
          <input type="tel" class="form-control" id="telefone" ng-model="pessoa.telefone" ui-mask="(99)9999-9999"
                 ui-mask-placeholder/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="login" class="col-sm-2 control-label">Login<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="login" ng-model="pessoa.login" minlength="6" maxlength="12"
                 placeholder="Login" required/>
        </div>

        <label for="senha" class="col-sm-2 control-label" ng-hide="pessoa.id">Senha<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="password" class="form-control" id="senha" ng-model="pessoa.senha" minlength="6" maxlength="8"
                 placeholder="Senha" ng-required='!pessoa.id' ng-hide="pessoa.id"/>
        </div>
      </div>
    </div>

    <div class="row col-sm-12">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="eh_deficiente" ng-model="pessoa.eh_deficiente"><strong> Sou portador de necessidades
          especiais</strong>
        </label>
      </div>
    </div>

    <div class="row col-sm-12">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="eh_admin" ng-model="pessoa.eh_prop"><strong> Quero criar eventos</strong>
        </label>
      </div>
    </div>

    <br/>
    <br/>

    <div style="margin-top: 25px;" ng-if="pessoa.eh_prop">
      <legend>Empresa</legend>

      <div class="row">
        <div class="form-group">
          <label for="razao_social" class="col-sm-2 control-label">Razão social<span class="campo-obrigatorio">*</span></label>

          <div class="col-sm-4">
            <input type="text" class="form-control" id="razao_social" ng-model="prop.razao_social"
                   placeholder="Razão social" maxlength="60" required/>
          </div>
          <label for="nome_fantasia" class="col-sm-2 control-label">Nome fantasia</label>

          <div class="col-sm-4">
            <input type="text" class="form-control" id="nome_fantasia" ng-model="prop.nome_fantasia" placeholder="Nome fantasia" maxlength="60"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="cnpj" class="col-sm-2 control-label">CNPJ<span class="campo-obrigatorio">*</span></label>

          <div class="col-sm-4">
            <input type="text" class="form-control" id="cnpj" ng-model="prop.cnpj" ui-mask="99.999.999/9999-99"
                   ui-mask-placeholder required/>
          </div>

          <label for="site_empresa" class="col-sm-2 control-label">Site da empresa</label>

          <div class="col-sm-4">
            <input type="url" class="form-control" id="site_empresa" ng-model="prop.site_empresa" placeholder="Site" maxlength="80"/>
          </div>
        </div>
      </div>
    </div>

    <br/>
    <br/>

    <div style="float: right;">
      <button type="button" class="btn btn-default btn-cancelar" onclick="window.history.back()">Cancelar</button>
      <button type="submit" class="btn btn-success">Salvar</button>
    </div>

  </form>
</div>

<br/>
<br/>
<br/>
<br/>
