<div class="container" ng-init="editar()">
  <form class="form form-horizontal margem-formulario">

    <h2>Edição de Pagamento</h2>

    <p><strong>Campos obrigatórios (<span class="campo-obrigatorio">*</span>)</strong></p>

    <legend style="margin-top: 25px;">Informações Básicas</legend>

    <div class="row">
      <div class="form-group">

        <label class="control-label col-sm-2">Status<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-2" style="margin-top: 4px;">
          <select name="s.status" id="s.status" ng-model="s.status">
            <option ng-repeat="s in s.availableOptions" value="{{s.boolean}}">{{s.status_pagamento}}</option>
          </select>
        </div>

        <label class="control-label col-sm-2">Data Pagamento<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="date" class="form-control" id="data_pagamento" name="data_pagamento" ng-model="data_pagamento" required/>
        </div>
      </div>
    </div>

    <br/>
    <br/>

    <div style="float: right;">
      <button type="submit" class="btn btn-default btn-cancelar" onclick="window.history.back()">Cancelar</button>
      <button type="submit" class="btn btn-success" ng-click="editarPagamento()">Alterar</button>
    </div>

  </form>

</div>
