<div class="wrapper">
  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a ui-sref="main.home" class="navbar-brand"><b>CapivaraTickets</b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <!-- Header Links -->
          <menu menus='menu'></menu>

          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Buscar">
            </div>
          </form>
        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">

          <ul class="nav navbar-nav">
            <!-- Login -->
            <li ng-if="!token"><a ui-sref="signin">Login</a></li>
            <!-- Messages: style can be found in dropdown.less-->
            <li ng-if="token" class="dropdown messages-menu">
              <!-- Menu toggle button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-flag"></i>
                <span class="label label-success">4</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">Você tem 4 mensagens</li>
                <li>
                  <!-- inner menu: contains the messages -->
                  <ul class="menu">
                    <li><!-- start message -->
                      <a href="#">
                        <div class="pull-left">
                          <!-- User Image -->
                          <img class="img-circle" alt="User Image">
                        </div>
                        <!-- Message title and timestamp -->
                        <h4>
                          Suporte
                          <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <!-- The message -->
                        <p>Quer mudar o tema?</p>
                      </a>
                    </li>
                    <!-- end message -->
                  </ul>
                  <!-- /.menu -->
                </li>
                <li class="footer"><a href="#">Veja todas as mensagens</a></li>
              </ul>
            </li>
            <!-- /.messages-menu -->

            <!-- User Account Menu -->
            <li ng-if="token" class="dropdown user-menu">
              <!-- Menu Toggle Button -->
              <a class="dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">
                <span><span class="glyphicon glyphicon-user"></span> {{user.nome}}</span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a ui-sref="main.minhaConta.meusPedidos">Minha Conta</a>
                </li>
                <li>
                  <a ui-sref="main.home">Área Cliente</a>
                </li>
                <li>
                  <a ui-sref="main.minhaConta.historioCompra">Histórico de Compras</a>
                </li>
                <li>
                  <a style="cursor: pointer;" ng-click="logoutUser()">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>

  </header>


  <div class="container-fluid container-alert">

    <div class="row" ng-if="alertDanger">
      <div class="col-md-12">
        <div class="alert alert-danger">
          <button type="button" class="close" ng-click="closeAlertDanger()">×</button>
          <p><i class="icon fa fa-ban"></i>{{alertDanger}}</p>
        </div>
      </div>
    </div>
    <div class="row" ng-if="alertInfo">
      <div class="col-md-12">
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" ng-click="closeAlertInfo()">×</button>
          <p><i class="icon fa fa-warning"></i>{{alertInfo}}</p>
        </div>
      </div>
    </div>
    <div class="row" ng-if="alertWarning">
      <div class="col-md-12">
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" ng-click="closeAlertWarning()">×</button>
          <p><i class="icon fa fa-warning"></i>{{alertWarning}}</p>
        </div>
      </div>
    </div>
    <div class="row" ng-if="alertSuccess">
      <div class="col-md-12">
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" ng-click="closeAlertSuccess()">×</button>
          <p><i class="icon fa fa-check"></i>{{alertSuccess}}</p>
        </div>
      </div>
    </div>

  </div>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <div ui-view>

      </div>

    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->
</div><!-- ./wrapper -->
