<div class="container">

  <div style="margin-bottom: 50px;" data-ng-init="listarPagamentos()">
    <h2 class="titulo">Pagamentos</h2>

    <div style="float: right;">
      <button type="submit" class="btn btn-default btn-cancelar" onclick="window.history.back()">Voltar</button>
    </div>
  </div>

  <h4 class="titulo" ng-show="listPagamento.length > 0" style="color: #3c8dbc;"><strong>Lista de Pagamento</strong></h4>

  <div ng-repeat="list in listPagamento track by $index" class="painel">
    <div class="area">
      <p class="destaque-nome">{{ list.id }} - {{list.nome}}</p>

      <p>Forma de pagamento: {{ list.tipo_pagamento }}</p>

      <p>Data de Pagamento: {{ list.data_pagamento }}</p>
      <p>Data de Compra: {{ list.data_compra }}</p>
      <p>Data de Vencimento: {{ list.data_vencimento }}</p>
      <p>Status: {{ list.status_pagamento }}</p>
      <p>Valor: {{ list.valor }}</p>


    </div>


    <div class="botoes" align="center" style="margin-top: 50px !important;">
      <button type="button" class="btn btn-warning" ui-sref="admin.editarPagamento({idPagamento: list.id })">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
      <br/>
      <button type="button" ng-click="cancelarCompra(list.carrinho ,list.id)" class="btn btn-danger" style="margin-bottom: 5px;">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>

  </div>
</div>

<br/>
<br/>
<br/>
<br/>
