<!DOCTYPE html>
<html  ng-app="app">
<head>
  <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!--STYLES-->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/ng-notify/dist/ng-notify.min.css">
  <link rel="stylesheet" href="/styles/AdminLTE.css">
  <link rel="stylesheet" href="/styles/skins/skin-blue.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <!--STYLES END-->
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-controller="LayoutCtrl">
<%- body %>

<!--TEMPLATES-->
<script type="text/javascript" src="/jst.js"></script>
<!--TEMPLATES END-->

<!--SCRIPTS-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="/bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
<script src="/bower_components/angular-ui-mask/dist/mask.min.js"></script>
<script src="/bower_components/ng-table/dist/ng-table.js"></script>
<script src="/bower_components/underscore/underscore-min.js"></script>
<script src="/bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="/bower_components/ng-notify/dist/ng-notify.min.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/config/interceptor.js"></script>
<script src="/js/config/routesAdmin.js"></script>
<script src="/js/config/routesProp.js"></script>
<script src="/js/config/routesPublic.js"></script>
<script src="/js/config/run.js"></script>
<script src="/js/constant/menu.js"></script>
<script src="/js/controllers/account/signin.js"></script>
<script src="/js/controllers/account/signup.js"></script>
<script src="/js/controllers/admin/dashboard.js"></script>
<script src="/js/controllers/admin/SettingsController.js"></script>
<script src="/js/controllers/cliente/carrinhoController.js"></script>
<script src="/js/controllers/cliente/CartaoController.js"></script>
<script src="/js/controllers/cliente/ClienteController.js"></script>
<script src="/js/controllers/layout/layout.js"></script>
<script src="/js/controllers/main/home.js"></script>
<script src="/js/controllers/main/PessoaController.js"></script>
<script src="/js/controllers/main/ProfileController.js"></script>
<script src="/js/controllers/main/settings.js"></script>
<script src="/js/controllers/prop/AgendaController.js"></script>
<script src="/js/controllers/prop/EventoController.js"></script>
<script src="/js/controllers/prop/IngressoController.js"></script>
<script src="/js/controllers/prop/RelatorioController.js"></script>
<script src="/js/directives/crudButtons.js"></script>
<script src="/js/directives/crudEdit.js"></script>
<script src="/js/directives/menu.js"></script>
<script src="/js/directives/modal.js"></script>
<script src="/js/resources/pessoa.js"></script>
<script src="/js/services/auth.js"></script>
<script src="/js/services/underscore.js"></script>
<script src="/js/services/util.js"></script>
<script src="/js/template.js"></script>
<!--SCRIPTS END-->
</body>
</html>
