<div class="hold-transition">
<div class="register-box">
  <div class="register-logo">
    <a href="../../index2.html"><b>Scritp</b>Pat</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <form name="form" ng-submit="register(form)" novalidate>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Nome" name="nome" ng-model="user.nome" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <p class="help-block" ng-show="errors.nome.message">
          {{errors.nome.message}}
        </p>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Login" name="login" ng-model="user.login" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <p class="help-block" ng-show="errors.email.message">
          {{errors.email.message}}
        </p>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Senha" name="senha" ng-model="user.senha" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <p class="help-block" ng-show="errors.senha.message">
          {{errors.password.message}}
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Cadastrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a ui-sref="signin" class="text-center">Já tenho uma conta</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
</div>
