<div class="hold-transition">
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Scritp</b>Pat</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form name="form" ng-submit="login(form)" novalidate>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Login" name="login" ng-model="user.login" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <p class="help-block" ng-show="errors.login.message">
          {{errors.login.message}}
        </p>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Senha" name="senha" ng-model="user.senha" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <p class="help-block" ng-show="errors.senha.message">
          {{errors.senha.message}}
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a class="pull-right" ui-sref="signup">Registre-se!</a>
    <a class="pull-left" href="#">Esqueceu a senha?</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</div>
