<div class="container">

  <form class="form form-horizontal margem-formulario form-css" name="form" ng-submit="criarEvento()" novalidate>
    <h2>Cadastro de Evento</h2>

    <p><strong>Campos obrigatórios (<span class="campo-obrigatorio">*</span>)</strong></p>

    <legend style="margin-top: 25px;">Informações Básicas</legend>

    <div class="row">
      <div class="form-group">
        <label for="nome" class="control-label col-sm-2">Nome<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="nome" name="nome" ng-model="nome" maxlength="60" required/>
        </div>

          <label for="nome" class="control-label col-sm-2"> Imagem do Evento </label>

          <div id="wrapper" class="col-sm-4">
            <input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'"
                   ngf-max-size="20MB"/>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="nome" class="control-label col-sm-2">Descrição</label>

        <div class="col-sm-4">
          <textarea name="postagem" rows="5" cols="58" ng-model="descricao" maxlength="500"></textarea>
        </div>

        <label for="nome" class="control-label col-sm-2"> Categoria<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="tipoCategoria" name="tipoCategoria" maxlength="60"
                 ng-model="tipoCategoria" required>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="form-group">
        <label for="nome" class="control-label col-sm-2"> Qtde de Ingresso Total<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-2">
          <input type="number" class="form-control" id="qtdIngressoTotal" name="qtdIngressoTotal"
                 ng-model="qtdIngressoTotal" maxlength="15" required/>
        </div>

        <label for="nome" class="control-label col-sm-2">Data de Início<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-2">
          <input type="date" min="{{dataI}}" class="form-control" id="dataInicio" name="dataInicio"
                 ng-model="dataInicio">
        </div>

        <label for="nome" class="control-label col-sm-2">Data de Término<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-2">
          <input type="date" min="{{dataF}}" class="form-control" id="dataFinal" name="dataFinal" ng-model="dataFinal">

        </div>
      </div>
    </div>

    <legend style="margin-top: 25px;">Endereço do Evento</legend>

    <div class="row">
      <div class="form-group">
        <label for="rua" class="col-sm-2 control-label">Rua<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="rua" ng-model="rua" placeholder="Rua" maxlength="60" required/>
        </div>

        <label for="complemento" class="col-sm-2 control-label">Complemento</label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="complemento" ng-model="complemento" maxlength="20"
                 placeholder="Complemento"/>
        </div>
      </div>
    </div>

    <div class="row">
      <label for="bairro" class="col-sm-2 control-label">Bairro<span class="campo-obrigatorio">*</span></label>

      <div class="col-sm-2">
        <input type="text" class="form-control" id="bairro" ng-model="bairro" placeholder="Bairro" maxlength="60"
               required/>
      </div>

      <div class="form-group">
        <label for="numero" class="col-sm-1 control-label">Número<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-2">
          <input type="text" class="form-control" id="numero" ng-model="numero" placeholder="Número" maxlength="9"
                 required/>
        </div>

        <label for="cep" class="col-sm-1 control-label">CEP<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-2">
          <input type="text" class="form-control" id="cep" ng-model="cep" ui-mask="99.999-999" ui-mask-placeholder
                 required/>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="cidade" class="col-sm-2 control-label">Cidade<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="cidade" ng-model="cidade" placeholder="Cidade" maxlength="60"
                 required/>
        </div>

        <label for="estado" class="col-sm-2 control-label">Estado<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="estado" ng-model="estado" placeholder="Estado" maxlength="60"
                 required/>
        </div>
      </div>
    </div>

    <div class="row col-sm-12">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="rascunho" ng-model="rascunho"><strong>Quero editar esse evento antes de disponibilizar</strong>
        </label>
      </div>
    </div>

    <br/>
    <br/>

    <div style="float: right;">
      <button type="button" class="btn btn-default btn-cancelar" onclick="window.history.back()">Cancelar</button>
      <button type="submit" class="btn btn-success">Salvar</button>
    </div>

  </form>
</div>

<br/>
<br/>
<br/>
<br/>
