<div class="container" ng-init="editar()">
  <form class="form form-horizontal margem-formulario">

    <h2>Edição de Ingresso</h2>

    <p><strong>Campos obrigatórios (<span class="campo-obrigatorio">*</span>)</strong></p>

    <legend style="margin-top: 25px;">Informações Básicas</legend>

    <div class="row">
      <div class="form-group">
        <label class="control-label col-sm-2">Tipo<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-2" style="margin-top: 4px;">
          <select name="aP.repeatSelect" id="t.repeatSelect" ng-model="t.T">
            <option ng-repeat="t in t.availableOptions" value="{{t.tipo}}">{{t.tipo}}</option>
          </select>
        </div>

        <label class="control-label col-sm-2">Status<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-2" style="margin-top: 4px;">
          <select name="s.repeatSelect" id="s.repeatSelect" ng-model="s.S">
            <option ng-repeat="s in s.availableOptions" value="{{s.status}}">{{s.status}}</option>
          </select>
        </div>

        <label class="control-label col-sm-2">Assento preferencial<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-2" style="margin-top: 4px;">
          <select name="aP.repeatSelect" id="aP.repeatSelect" ng-model="aP.AP">
            <option ng-repeat="aP in aP.availableOptions" value="{{aP.boolean}}">{{aP.assento_preferencial}}</option>
          </select>
        </div>
      </div>
    </div>

    <br/>
    <br/>

    <div style="float: right;">
      <button type="submit" class="btn btn-default btn-cancelar" onclick="window.history.back()">Cancelar</button>
      <button type="submit" class="btn btn-success" ng-click="editarIngresso()">Alterar</button>
    </div>

  </form>

</div>
