<div class="container" ng-init="editar()">

  <form class="form form-horizontal margem-formulario form-css" name="form" ng-submit="editarAgenda()" novalidate>

    <h2>Edição de Agenda</h2>

    <p><strong>Campos obrigatórios (<span class="campo-obrigatorio">*</span>)</strong></p>

    <legend style="margin-top: 25px;">Informações Básicas</legend>

    <div class="row">
      <div class="form-group" ng-init="dia()">
        <label for="date" class="control-label col-sm-2">Data<span class="campo-obrigatorio">*</span> </label>

        <div class="col-sm-4">
          <input type="date" min="{{dataMin}}"  max="{{dataMax}}" class="form-control" id="date" name="date" ng-model="date" required/>
        </div>

        <label for="titulo" class="control-label col-sm-2">Título<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="text" class="form-control" id="titulo" name="titulo" ng-model="titulo" required/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="horario_inicio" class="control-label col-sm-2">Hora início<span class="campo-obrigatorio">*</span>
        </label>

        <div class="col-sm-4">
          <input type="time" class="form-control" id="horario_inicio" name="horario_inicio" ng-model="horario_inicio"
                 required>
        </div>

        <label for="horario_final" class="control-label col-sm-2">Hora final<span
          class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="time" class="form-control" id="horario_final" name="horario_final" ng-model="horario_final"
                 required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="qtde" class="control-label col-sm-2">Qtde de ingressos<span class="campo-obrigatorio">*</span>
        </label>

        <div class="col-sm-4">
          <input type="number" class="form-control" id="qtde" name="qtde" ng-model="qtde" required>
        </div>

        <label for="valorIngresso" class="control-label col-sm-2">Valor do ingresso<span
          class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="number" class="form-control" id="valorIngresso" name="valorIngresso" ng-model="valorIngresso">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="qtdFileiras" class="control-label col-sm-2">Nº de fileiras<span class="campo-obrigatorio">*</span>
        </label>

        <div class="col-sm-4">
          <input type="number" class="form-control" id="qtdFileiras" name="qtdFileiras" ng-model="qtdFileiras" required>
        </div>

        <label for="qtdColunas" class="control-label col-sm-2">Nº de colunas<span
          class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <input type="number" class="form-control" id="qtdColunas" name="qtdColunas" maxlength="60"
                 ng-model="qtdColunas" required>
        </div>
      </div>
    </div>

    <div class="row col-sm-12">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="rascunho" ng-model="rascunho"><strong>Quero editar esse agenda antes de disponibilizar</strong>
        </label>
      </div>
    </div>

    <br/>
    <br/>

    <div style="float: right;">
      <button type="button" class="btn btn-default btn-cancelar" onclick="window.history.back()">Cancelar</button>
      <button type="submit" class="btn btn-success">Alterar</button>
    </div>

  </form>
</div>

<br/>
<br/>
<br/>
<br/>
