<div class="container">
  <div class="row" style="margin-bottom: 50px;" ng-init="listarAgenda()">
    <h2 class="titulo">Minha Agenda</h2>

    <div style="float: right;">
      <button type="submit" class="btn btn-default btn-cancelar" ui-sref="prop.evento">Voltar</button>
      <button type="button" class="btn btn-success" ui-sref="admin.criarAgenda({ id:{{idEvento}} })">
        Criar Agenda
      </button>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" id="nomeBusca" name="nomeBusca" ng-model="nomeBusca"
               placeholder="Buscar"
               ng-model="search">
      </div>
    </div>
  </div>

  <br/>
  <br/>

  <h4 class="titulo" ng-show="listAgenda.length > 0" style="color: #3c8dbc;"><strong>Agenda</strong></h4>

  <div ng-repeat="agend in listAgenda | filter:nomeBusca" class="painel">
    <div class="area">
      <p class="destaque-nome">{{agend.titulo }}</p>

      <p>Dia: {{ agend.data | date:'dd/MM/yyyy' }}</p>

      <p>Hora início: {{ agend.horario_inicio | date:'HH:mm' }}</p>

      <p>Hora final: {{ agend.horario_final | date:'HH:mm' }}</p>
    </div>


    <div class="area" style="margin-top: 10px;">
      <p>Qtde de ingressos: {{ agend.qtde }}</p>

      <p>Valor do ingresso: {{ agend.valor_ingresso }} </p>

      <p>Nº de fileiras: {{ agend.qtd_fileiras }}</p>

      <p>Nº de colunas: {{ agend.qtd_colunas }}</p>
    </div>

    <div class="botoes" align="center" style="margin-top: 10px;">
      <button type="button" class="btn btn-info" ui-sref="admin.ingresso({idAgenda:{{agend.id}}})"
              aria-label="Left Align" style="margin-bottom: 5px;">
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
      </button>
      <br/>
      <button ng-if="agend.rascunho" type="button" class="btn btn-warning"
              ui-sref="admin.editarAgenda({ id:{{idEvento}},idAgenda:{{agend.id}} })" aria-label="Left Align"
              style="margin-bottom: 5px;">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
      <br ng-if="agend.rascunho"/>
      <button id="btn-salvar" type="button" class="btn btn-danger" name="send" value="Excluir"
              ng-click="excluirAgenda(agend.id)" aria-label="Left Align" style="margin-right: 3px;">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>

</div>

<br/>
<br/>
<br/>
<br/>
