<div class="container">
  <div class="row" style="margin-bottom: 10px;" ng-init="listarEventoHistorico()">
    <h2 class="titulo">Meus Eventos</h2>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" id="nomeBusca" name="nomeBusca" ng-model="nomeBusca"
               placeholder="Buscar"
               ng-model="search">
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <h4 class="titulo" ng-show="listEvento.length > 0" style="color: #3c8dbc;"><strong>Lista de Eventos</strong></h4>

  <div ng-repeat="list in listEvento | filter:nomeBusca" class="painel">
    <div class="area">
      <p class="destaque-nome">{{ list.nome | uppercase }}</p>

      <p>De {{ list.dataInicio | date:'dd/MM/yy' }} até {{ list.dataFinal | date:'dd/MM/yy' }}</p>

      <p>Categoria: {{ list.tipoCategoria }}</p>

      <p>Cidade: {{ list.cidade }} - {{ list.estado }}</p>
    </div>

    <div class="area">
      <p>Descrição: {{ list.descricao }} </p>
      <img ng-src="{{list.imagem}}" alt="Evento Image" height="100" width="100">
    </div>

    <div class="botoes" align="center">
      <button type="button" class="btn btn-primary" ui-sref="admin.agendaHistorico({id: list.id })" style="margin-bottom: 5px;">
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
      </button>
      <br/>
      <button type="button" class="btn btn-info" style="margin-bottom: 5px;"
              ui-sref="admin.visualizarEvento({id: list.id })">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      </button>
      <br/>
    </div>
  </div>

</div>

<br/>
<br/>
<br/>
<br/>
