<div class="container">

  <div class="row" style="margin-bottom: 50px;" data-ng-init="listarIngresso()">
    <h2 class="titulo">Meus Ingressos</h2>

    <div style="float: right;">
      <button type="submit" class="btn btn-default btn-cancelar" onclick="window.history.back()">Voltar</button>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" id="nomeBusca" name="nomeBusca" ng-model="nomeBusca"
               placeholder="Buscar"
               ng-model="search">
      </div>
    </div>
  </div>

  <br/>
  <br/>

  <h4 class="titulo" ng-show="listIngresso.length > 0" style="color: #3c8dbc;"><strong>Lista de Ingressos</strong></h4>

  <div ng-repeat="list in listIngresso | filter:nomeBusca" class="painel">
    <div class="area">
      <p class="destaque-nome">{{ list.numero }}</p>

      <p>Assento preferencial: {{ list.assento_preferencial }}</p>

      <p>Tipo: {{ list.tipo }}</p>

      <p>Valor: {{ list.valor }}</p>

    </div>

    <div class="area" style="margin-top: 38px !important;">
      <p>Posição: {{list.posicao_coluna}}.{{list.posicao_fileira}}</p>

      <p>Status: {{ list.status }}</p>
    </div>

    <div class="botoes" align="center" style="margin-top: 50px !important;">
      <button type="button" class="btn btn-warning" ui-sref="admin.editarIngresso({idIngresso: list.id })">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
