<div class="container">
  <form class="form-horizontal margem-formulario form-css" name="form" ng-submit="pesquisar()" novalidate>
    <h2 ng-init="buscarDadosIniciais()">Relatório de Vendas</h2>

    <p><strong>Campos obrigatórios (<span class="campo-obrigatorio">*</span>)</strong></p>

    <div class="row">
      <div class="form-group">
        <label for="empresa" class="col-sm-2 control-label">Empresa<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4">
          <select name="repeatSelect" id="empresa" ng-model="relatorio.prop">
            <option ng-repeat="prop in proprietarios" value="{{prop.pessoa_id}}">{{prop.razao_social}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="dateInicio" class="control-label col-sm-2">Data início</label>

        <div class="col-sm-4">
          <input type="date" class="form-control" id="dateInicio" name="date" ng-model="relatorio.dateInicio"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="dateFim" class="control-label col-sm-2">Data fim</label>

        <div class="col-sm-4">
          <input type="date" class="form-control" id="dateFim" name="date" ng-model="relatorio.dateFim"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="control-label col-sm-2">Tipo<span class="campo-obrigatorio">*</span></label>

        <div class="col-sm-4" style="margin-top: 8px;">
          <input type="radio" ng-model="relatorio.tipo" value="analitico"> Analítico
          <input type="radio" ng-model="relatorio.tipo" value="sintetico"> Sintético
        </div>

      </div>
    </div>

    <div style="float: right;">
      <button type="button" class="btn btn-default btn-cancelar" ui-sref="main.minhaConta.meusPedidos">Cancelar</button>
      <button type="submit" class="btn btn-success">Pesquisar</button>
    </div>
  </form>

  <div ng-if="relatorio.tipo == 'analitico' && relatorios && relatorios.length > 0">
    <table class="table">
      <thead>
      <tr>
        <th>Evento</th>
        <th>Agenda</th>
        <th>Agenda Data</th>
        <th>Ingresso</th>
        <th>Status Pagamento</th>
        <th>Data Pagamento</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="rel in relatorios">
        <td>{{rel.nome}}</td>
        <td>{{rel.titulo}}</td>
        <td>{{rel.data | date:"dd/MM/yyyy"}}</td>
        <td>{{rel.numero}}</td>
        <td>{{rel.status_pagamento}}</td>
        <td>{{rel.status_pagamento}}</td>
        <td>{{rel.data_pagamento | date:"dd/MM/yyyy"}}</td>
      </tr>
      </tbody>
    </table>

  </div>

  <div ng-if="relatorio.tipo == 'sintetico' && relatorios && relatorios.length > 0">
    <table class="table">
      <thead>
      <tr>
        <th>Evento</th>
        <th>Agenda</th>
        <th>Agenda Data</th>
        <th>Valor Faturado</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="rel in relatorios">
        <td>{{rel.nome}}</td>
        <td>{{rel.titulo}}</td>
        <td>{{rel.data | date:"dd/MM/yyyy"}}</td>
        <td>{{rel.valor}}</td>
      </tr>
      </tbody>
    </table>

  </div>

  <div ng-show="relatorios && relatorios.length == 0">
    <p>Nemhum Resultado Encontrado</p>
  </div>

</div>

<br/>
<br/>
<br/>
<br/>
