<div class="container">
  <div style="margin-bottom: 50px;" data-ng-init="buscarEventobyId()">
    <h2 class="titulo">Meus Eventos</h2>
    <button type="submit" class="btn btn-default btn-cancelar" onclick="window.history.back()">Voltar</button>
  </div>

  <div class="area">
      <p class="destaque-nome">{{ listBusca.nome | uppercase }}</p>

      <p>Data de início: {{ listBusca.dataInicio | date:'dd/MM/yy' }}</p>

      <p>Data de término: {{ listBusca.dataFinal | date:'dd/MM/yy' }}</p>

      <p>Categoria: {{ listBusca.tipoCategoria }}</p>

      <p>Cidade: {{ listBusca.endereco.cidade }} - {{ listBusca.endereco.estado }}</p>

      <p>Endereço: </p>
      <p> Rua: {{ listBusca.endereco.rua }} - N.: {{ listBusca.endereco.numero }}</p>
      <p>Bairro: {{ listBusca.endereco.bairro }} - Cep: {{ listBusca.endereco.cep }}</p>
      <p>Complemento: {{ listBusca.endereco.complemento }}</p>


    </div>

    <div class="area">
      <p>Descrição: {{ listBusca.descricao }} </p>
    </div>

    <div class="botoes" align="center">
      <button type="button" class="btn btn-primary" ui-sref="admin.agenda({id: listBusca.id })" style="margin-bottom: 5px;">
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
      </button>
      <br/>

      <button type="button" class="btn btn-warning" style="margin-bottom: 5px;"
              ui-sref="admin.editarEvento({id: listBusca.id })">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
      <br/>
      <button type="button" ng-click="excluirEvento(listBusca.id)" class="btn btn-danger" style="margin-right: 3px; margin-bottom: 5px;">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>

</div>

<br/>
<br/>
<br/>
<br/>
