<div style="margin-bottom: 50px;" data-ng-init="buscarHistoricoCompra()">
  <h2 class="titulo">Detalhe Historico de Compra</h2>
  <button type="submit" class="btn btn-default btn-cancelar" ui-sref="main.minhaConta.historioCompra">Voltar</button>
</div>

<div class="area">

  <p class="col-md-6">Data Compra: {{ pagamento.carrinho.data_compra | date:'dd/MM/yy' }}</p>

  <p class="col-md-6">Data Pagemento: {{ pagamento.data_pagamento | date:'dd/MM/yy' }}</p>

  <p class="col-md-6">Tipo Pagamento: {{ pagamento.tipo_pagamento }}</p>

  <p class="col-md-6">Status Pagemento: {{ pagamento.status_pagamento }}</p>

  <p class="col-md-6">Valor Total: {{ pagamento.carrinho.valor_total }}</p>

  <p class="col-md-6">Desconto: {{ pagamento.carrinho.desconto }}</p>

  <p class="col-md-6">Data Vencimento: {{ pagamento.data_vencimento | date:'dd/MM/yy' }}</p>

</div>

<div class="col-md-12">
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Numero</th>
      <th>tipo</th>
      <th>valor</th>
      <th>Preferencial</th>
      <th>Posição</th>
    </tr>
    </thead>
    <tbody>
    <tr  ng-repeat="ingresso in pagamento.carrinho.ingressos">
      <td>{{ingresso.id}}</td>
      <td>{{ingresso.numero}}</td>
      <td>{{ingresso.tipo}}</td>
      <td>{{ingresso.valor}}</td>
      <td>{{ingresso.assento_preferencial}}</td>
      <td>{{ingresso.posicao_coluna}} / {{ingresso.posicao_fileira}}</td>
    </tr>
    </tbody>
  </table>

</div>

