<h1 ng-init="listarHistoricoCompra()">Histórico de Compra</h1>

<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
      <input type="text" class="form-control" placeholder="Buscar" ng-model="search">
    </div>
  </div>
</form>
<div>
  <table class="table">
    <thead>
    <tr>
      <th>Data Compra</th>
      <th>Data Pagamento</th>
      <th>Valor Total</th>
      <th>Desconto</th>
      <th>Tipo Pagamento</th>
      <th>Status Pagamento</th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr  ng-repeat="historico in historicoCompra | filter: search">
      <td>{{historico.carrinho.data_compra | date:"dd/MM/yyyy"}}</td>
      <td>{{historico.data_pagamento | date:"dd/MM/yyyy"}}</td>
      <td>{{historico.carrinho.valor_total}}</td>
      <td>{{historico.carrinho.desconto}}</td>
      <td>{{historico.tipo_pagamento}}</td>
      <td>{{historico.status_pagamento}}</td>
      <td><button type="button" class="btn btn-info" ui-sref="main.minhaConta.detalheHistorioCompra({id : historico.id})"><span class="glyphicon glyphicon-eye-open"></span></button></td>
    </tr>
    </tbody>
  </table>

</div>
