<h1 ng-init="listarMeusPedidos()">Meus Pedidos</h1>

<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
      <input type="text" class="form-control" placeholder="Buscar" ng-model="search">
    </div>
  </div>
</form>
<div ng-repeat="evento in eventos | filter: search" class="painel">
  <div class="col-md-2">
    <img ng-src="{{evento.imagem}}" width="100%" height="100px">
  </div>
  <div class="col-md-10">
    <div class="col-md-10 pull-left">
      <p class="destaque-nome">{{evento.nome}}</p>
      <p><span class="glyphicon glyphicon-calendar"></span> {{evento.dataInicio | date:"dd/MM/yyyy HH:mm"}} </p>
      <p><span class="glyphicon glyphicon-map-marker"></span>{{evento.endereco.rua}} | {{evento.endereco.bairro}} | {{evento.endereco.cidade}}, {{evento.endereco.estado}}</p>
      <button type="button" class="btn btn-info">Ver Pedido</button>
      <button type="button" class="btn btn-warning">Imprimir Ingresso</button>
    </div>
  </div>
</div>
