<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Minha Conta
    <h4>Olá <b>{{user.nome}}</b>, veja seus dados da conta, histórico de pedidos, troque a sua senha ou altere suas configurações do guia de espetáculos.</h4>
  </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Tab Content -->
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li><a ui-sref="main.minhaConta.meusPedidos">Meus Pedidos</a></li>
                    <li><a ui-sref="main.minhaConta.historioCompra">Historico de Compra</a></li>
                    <li><a ui-sref="main.minhaConta.dadosPessoais">Dados Pessoais</a></li>
                    <li><a ui-sref="main.minhaConta.trocaSenha">Troca de Senha</a></li>
                  <li><a ui-sref="main.minhaConta.meusCartoes">Meus Cartões</a></li>
                </ul>
                <div class="tab-content" ui-view>

                </div><!-- /.tab-content -->
            </div><!-- /.nav-tabs-custom -->
        </div><!-- /.col -->
    </div><!-- /.row -->

</section><!-- /.content -->
</div><!-- /.content-wrapper -->
