<h1>Troca Senha</h1>

<form class="form-horizontal margem-formulario form-css" name="form" ng-submit="trocarSenha()" novalidate>
  <div class="row">
    <div class="form-group">
      <label for="senhaAntiga" class="col-sm-2 control-label">Senha Antiga<span class="campo-obrigatorio">*</span></label>

      <div class="col-sm-4">
        <input type="password" class="form-control" id="senhaAntiga" ng-model="senhaAntiga" minlength="6" maxlength="8"
               placeholder="Senha Antiga" required/>
      </div>

      <label for="senhaNova" class="col-sm-2 control-label">Nova Senha<span class="campo-obrigatorio">*</span></label>

      <div class="col-sm-4">
        <input type="password" class="form-control" id="senhaNova" ng-model="senhaNova" minlength="6" maxlength="8"
               placeholder="Nova Senha" required/>
      </div>
    </div>
  </div>
  <div style="float: right;">
    <button type="button" class="btn btn-default btn-cancelar" ui-sref="main.minhaConta.meusPedidos">Cancelar</button>
    <button type="submit" class="btn btn-success">Salvar</button>
  </div>
</form>
